.header{

    height: 100vh;
    max-width: 100vw;
    @include respond(tab-port){
        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__left,&__right{
        @include flexCenter;
    }
    &__left{
        @include respond(tab-port){
            margin-top: 15rem;
        }
        font-size: $font-heading;
        @include respond(tab-port){
            font-size: 4rem;
        }
        padding-left: 3rem;
        color:$color-primary;
    }
    &__right{
        @include respond(tab-port){
            margin-top: 10rem;
        }
        .btn{
            border: .1rem solid $color-primary;
            color:$color-primary;
            font-size: $font-medium;
            transition: 1s ease-in-out;
            &:hover{
                background-color: $color-primary;
                color:white;
                transform:scale(1.2);
            }
        }
    }
    .bg-video{
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        overflow: hidden;
        &__content{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
}