@import "./fonts";

$color-primary:#87ff8b;
// $color-primary:#f9faf9;
$color-primary-1:rgb(207, 86, 86);


//font size
$default-font:1.6rem;
$font-medium:2.4rem;
$font-large:3.2rem;
$font-heading:4.8rem;